<style>
   .Register
   {
       background: black;
   }
</style>
<div class="View">
    <div class="main-w3layouts wrapper">
        <div class="main-agileinfo">
            <div class="agileits-top">
                <form name="MyForm">
                    <h1 style="color:azure;">En Construcción</h1>
                    <!--<input class="text" type="text" ng-model="vm.Name" placeholder="Name" required>
                    <input class="text" type="text" ng-model="vm.Price" placeholder="Price" required>
                    <input type="submit" value="Add" id="AddButton" class="submit" ng-click="vm.CheckFormAdd(MyForm.$valid)" ng-show="!vm.IsEditing">
                    <input type="submit" value="Save" id="SaveButton" ng-click="vm.CheckFormSave(MyForm.$valid)" ng-show="vm.IsEditing">-->
                </form>
                <button ng-click="vm.ChangeToLogin()">Sign In</button>
            </div>
        </div>
    </div>
</div>